In [36]:
## 3. - Pandas tutorial

import pandas as pd
from src.utils import load_data_from_google_drive

df = load_data_from_google_drive(url='https://drive.google.com/file/d/184JcLbSpArA_uq0DgAv2k892KChJVPHt/view?usp=share_link')

df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [37]:
## Q: How many unique seasons are there in the dataset? Use the nunique() function.

num_unique_seasons = df['Season'].nunique()

# Print the number of unique seasons
print(f"The number of unique seasons in the dataset is: {num_unique_seasons}")

The number of unique seasons in the dataset is: 32

In [38]:
## Q: Find the team with the most wins. Use the value_counts() function on the Wteam column.

most_wins_team = df['Wteam'].value_counts().idxmax()

# Print the team with the most wins
print(f"The team with the most wins is: {most_wins_team}")

The team with the most wins is: 1181

In [39]:
## Q: Make three dataframes that are sorted by season, winning team, and winning score respectively. 
## Then, Using iloc, select the rows from index 100 to 200 and the columns for season, winning team, and winning score, respectively.

df_sorted_season = df.sort_values('Season')
df_sorted_winning_team = df.sort_values('Wteam')
df_sorted_winning_score = df.sort_values('Wscore')

# Select rows from index 100 to 200 and the specified columns using iloc
selected_rows = df_sorted_season.iloc[100:201, [0, 2, 3]]  # Replace [0, 2, 3] with the column indices you need

# Print the selected rows
print(selected_rows)

      Season  Wteam  Wscore
2525    1985   1406      68
2526    1985   1410      83
2527    1985   1423      58
2528    1985   1429      86
2529    1985   1440      50
...      ...    ...     ...
2447    1985   1212      63
2448    1985   1216      64
2449    1985   1233      77
2450    1985   1249      80
2425    1985   1449      72

[101 rows x 3 columns]

In [40]:
## Q: From these three subsets you obtained above, find the season and winning team for the game with the highest winning score.

# Find the game with the highest winning score from df_sorted_winning_score
highest_score_game = df_sorted_winning_score.iloc[df_sorted_winning_score['Wscore'].idxmax()]

# Retrieve the season and winning team for the game with the highest winning score
season_highest_score = highest_score_game['Season']
winning_team_highest_score = highest_score_game['Wteam']

# Print the season and winning team for the game with the highest winning score
print(f"The game with the highest winning score is from season {season_highest_score}, won by team {winning_team_highest_score}.")

The game with the highest winning score is from season 1990, won by team 1216.

In [41]:
## Q:
## Create a new column in the DataFrame called 'ScoreDifference' which is the absolute difference between the winning score and the losing score. 
##Filter the DataFrame to only include games where the 'ScoreDifference' is greater than the average 'ScoreDifference' for all games.

df['ScoreDifference'] = abs(df['Wscore'] - df['Lscore'])

# Calculate the average ScoreDifference for all games
average_score_diff = df['ScoreDifference'].mean()

# Filter the DataFrame to include only games with ScoreDifference greater than the average
filtered_df = df[df['ScoreDifference'] > average_score_diff]

# Print the filtered DataFrame
print(filtered_df)

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  \
0         1985      20   1228      81   1328      64    N      0
3         1985      25   1165      70   1432      54    H      0
6         1985      25   1228      64   1226      44    N      0
8         1985      25   1260      98   1133      80    H      0
10        1985      25   1307     103   1288      71    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145280    2016     131   1401      71   1261      38    N      0
145282    2016     131   1433      76   1172      54    N      0
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145288    2016     132   1386      87   1433      74    N      0

        ScoreDifference
0                    17
3                    16
6                    20
8                    18
10                   32
...                 ...
145280               33
145282               22
145284               20
145285               14
145288               13

[57227 rows x 9 columns]

In [42]:
## Q:
## From this filtered DataFrame, find the season and teams involved in the game with the highest 'ScoreDifference'.

# Find the game with the highest 'ScoreDifference'
highest_score_diff_game = filtered_df[filtered_df['ScoreDifference'] == filtered_df['ScoreDifference'].max()]

# Retrieve the season and teams involved in the game with the highest 'ScoreDifference'
season_highest_score_diff = highest_score_diff_game['Season'].iloc[0]
winning_team_highest_score_diff = highest_score_diff_game['Wteam'].iloc[0]
losing_team_highest_score_diff = highest_score_diff_game['Lteam'].iloc[0]

# Print the season and teams involved in the game with the highest 'ScoreDifference'
print(f"The game with the highest 'ScoreDifference' is from season {season_highest_score_diff}, "
      f"between teams {winning_team_highest_score_diff} and {losing_team_highest_score_diff}.")

The game with the highest 'ScoreDifference' is from season 1996, between teams 1409 and 1341.

In [43]:
## **Q**: Group the DataFrame by season and find the average winning score for each season.

# Grouping:

df.groupby('Season')['Wscore'].mean()

Season
1985    74.723040
1986    74.813640
1987    77.993870
1988    79.773704
1989    81.728511
1990    80.846477
1991    82.733932
1992    79.992004
1993    79.508790
1994    81.160345
1995    80.096149
1996    78.205483
1997    76.300842
1998    77.229902
1999    76.043581
2000    76.310467
2001    77.088650
2002    76.963557
2003    75.795061
2004    74.971122
2005    74.693690
2006    74.587555
2007    74.829467
2008    74.962425
2009    74.033721
2010    74.652480
2011    74.374190
2012    73.379973
2013    72.840789
2014    76.101268
2015    72.680799
2016    78.295958
Name: Wscore, dtype: float64

In [44]:
## **Q**: 
## Group the DataFrame by winning team and find the maximum winning score 
## for each team across all seasons.

df.groupby('Wteam')['Wscore'].mean().head()

Wteam
1101    78.111111
1102    69.893204
1103    75.839768
1104    75.825944
1105    74.960894
Name: Wscore, dtype: float64

In [45]:
## **Q**: 
## Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

grouped = df.groupby(['Season', 'Wteam'])

# Calculate the average winning score for each team in each season
average_scores = grouped['Wscore'].mean()

# Find the team with the highest average winning score for each season
max_scores = average_scores.groupby('Season').idxmax()
team_with_highest_scores = average_scores.loc[max_scores]

# Print the result
print(team_with_highest_scores)

Season  Wteam
1985    1328      92.800000
1986    1109      91.200000
1987    1380      95.875000
1988    1258     111.750000
1989    1258     117.315789
1990    1258     126.347826
1991    1380     112.312500
1992    1380      99.642857
1993    1380     101.875000
1994    1380     106.583333
1995    1206     102.833333
1996    1206     103.600000
1997    1254      94.142857
1998    1395     101.153846
1999    1317      95.750000
2000    1395      95.647059
2001    1395      99.315789
2002    1242      92.888889
2003    1395      88.222222
2004    1194      92.142857
2005    1311      91.333333
2006    1190      89.533333
2007    1440      99.400000
2008    1440      94.500000
2009    1377      96.200000
2010    1440      95.000000
2011    1449      90.130435
2012    1370      87.400000
2013    1377      86.500000
2014    1322      92.600000
2015    1322      90.733333
2016    1146      97.142857
Name: Wscore, dtype: float64

In [46]:
## Q: 
## Group the DataFrame by winning team and find the maximum winning score for each team across all seasons.
    
grouped = df.groupby('Wteam')

# Find the maximum winning score for each team across all seasons
max_scores = grouped['Wscore'].max()

# Print the result
print(max_scores)

Wteam
1101     95
1102    111
1103    109
1104    114
1105    114
       ...
1460    136
1461    112
1462    125
1463    105
1464    115
Name: Wscore, Length: 364, dtype: int64

In [47]:
## Q: 
## Group the DataFrame by both season and winning team. Find the team with the highest average winning score for each season.

grouped = df.groupby(['Season', 'Wteam'])

# Calculate the average winning score for each team in each season
average_scores = grouped['Wscore'].mean()

# Find the team with the highest average winning score for each season
max_scores = average_scores.groupby('Season').idxmax()
team_with_highest_scores = average_scores.loc[max_scores]

# Print the result
print(team_with_highest_scores)

Season  Wteam
1985    1328      92.800000
1986    1109      91.200000
1987    1380      95.875000
1988    1258     111.750000
1989    1258     117.315789
1990    1258     126.347826
1991    1380     112.312500
1992    1380      99.642857
1993    1380     101.875000
1994    1380     106.583333
1995    1206     102.833333
1996    1206     103.600000
1997    1254      94.142857
1998    1395     101.153846
1999    1317      95.750000
2000    1395      95.647059
2001    1395      99.315789
2002    1242      92.888889
2003    1395      88.222222
2004    1194      92.142857
2005    1311      91.333333
2006    1190      89.533333
2007    1440      99.400000
2008    1440      94.500000
2009    1377      96.200000
2010    1440      95.000000
2011    1449      90.130435
2012    1370      87.400000
2013    1377      86.500000
2014    1322      92.600000
2015    1322      90.733333
2016    1146      97.142857
Name: Wscore, dtype: float64

In [48]:
## **Q**: 
## Create a new DataFrame that counts the number of wins for each team in each season. 
## This will involve grouping by both season and winning team, and then using the count() function.

df.groupby(['Season','Wteam'])['Wteam'].count()

Season  Wteam
1985    1102      5
        1103      9
        1104     21
        1106     10
        1108     19
                 ..
2016    1460     20
        1461     12
        1462     27
        1463     21
        1464      9
Name: Wteam, Length: 10172, dtype: int64

In [49]:
## **Q**: 
## For each season, find the team with the most wins. 
## This will involve creating a DataFrame similar to the one in task 5, and then using the idxmax() function for each season.

season_wins = df.groupby(['Season', 'Wteam']).size().reset_index(name='Wins')

# Find the team with the most wins for each season
max_wins = season_wins.groupby('Season')['Wins'].idxmax()
team_with_most_wins = season_wins.loc[max_wins]

# Print the result
print(team_with_most_wins)

      Season  Wteam  Wins
217     1985   1385    27
342     1986   1181    32
818     1987   1424    33
861     1988   1112    31
1323    1989   1328    28
1551    1990   1247    29
1739    1991   1116    30
2088    1992   1181    28
2423    1993   1231    28
2665    1994   1163    27
2928    1995   1116    26
3357    1996   1269    31
3638    1997   1242    31
3943    1998   1242    33
4201    1999   1181    32
4709    2000   1409    29
4829    2001   1181    29
5121    2002   1153    30
5456    2003   1166    29
5981    2004   1390    29
6165    2005   1228    32
6452    2006   1181    30
6841    2007   1242    30
7209    2008   1272    33
7552    2009   1272    31
7870    2010   1242    32
8217    2011   1242    32
8565    2012   1246    32
8878    2013   1211    30
9462    2014   1455    33
9609    2015   1246    34
9955    2016   1242    29

In [50]:
## **Q**: Group the DataFrame by losing team and find the average losing score for each team across all seasons. 
## Compare this with the average winning score for each team from task 3. 
## Are there teams that have a higher average losing score than winning score?

ScoreDiff = [df.groupby('Wteam')['Wscore'].mean()- df.groupby('Lteam')['Lscore'].mean()]

import numpy
arr = numpy.array(ScoreDiff)
arr = arr[arr<0]
print(ScoreDiff)
print(arr)

[Wteam
1101    17.524904
1102    10.691697
1103    11.722421
1104    11.451627
1105    13.285521
          ...
1460    12.448554
1461    10.508110
1462    11.689903
1463    10.890888
1464     8.738993
Length: 364, dtype: float64]
[]

In [51]:
## Q: Create a new column 'HighScoringGame' that is 'Yes' if the winning score is
## greater than 100 and 'No' otherwise. 
##This will require iterating over the rows of the DataFrame and checking the value of the winning score for each row.

df['HighScoringGame'] = df['Wscore'].apply(lambda x: 'Yes' if x > 100 else 'No')

# Print the updated DataFrame
print(df['HighScoringGame'].head(15))

0      No
1      No
2      No
3      No
4      No
5      No
6      No
7      No
8      No
9      No
10    Yes
11     No
12     No
13     No
14     No
Name: HighScoringGame, dtype: object

In [52]:
## Q: 
## Calculate the total number of games played by each team, whether they won or lost. 
## This will require iterating over the rows of the DataFrame and updating a dictionary that keeps track of the number of games for each team.
team_games = {}

# Iterate over the rows of the DataFrame
for index, row in df.iterrows():
    # Get the team from the winning and losing columns
    winning_team = row['Wteam']
    losing_team = row['Lteam']
    
    # Update the dictionary with the winning team
    if winning_team in team_games:
        team_games[winning_team] += 1
    else:
        team_games[winning_team] = 1
    
    # Update the dictionary with the losing team
    if losing_team in team_games:
        team_games[losing_team] += 1
    else:
        team_games[losing_team] = 1

# Print the total number of games played by each team
for team, games in team_games.items():
    print(f"Team {team} played {games} games.")

Team 1228 played 992 games.
Team 1328 played 968 games.
Team 1106 played 855 games.
Team 1354 played 906 games.
Team 1112 played 981 games.
Team 1223 played 363 games.
Team 1165 played 833 games.
Team 1432 played 69 games.
Team 1192 played 908 games.
Team 1447 played 903 games.
Team 1218 played 931 games.
Team 1337 played 922 games.
Team 1226 played 847 games.
Team 1242 played 993 games.
Team 1268 played 969 games.
Team 1260 played 914 games.
Team 1133 played 949 games.
Team 1305 played 922 games.
Team 1424 played 974 games.
Team 1307 played 969 games.
Team 1288 played 925 games.
Team 1344 played 951 games.
Team 1438 played 952 games.
Team 1374 played 916 games.
Team 1411 played 903 games.
Team 1412 played 962 games.
Team 1397 played 963 games.
Team 1417 played 966 games.
Team 1225 played 880 games.
Team 1116 played 980 games.
Team 1368 played 808 games.
Team 1120 played 936 games.
Team 1391 played 879 games.
Team 1135 played 847 games.
Team 1306 played 898 games.
Team 1143 played 947 games.
Team 1388 played 897 games.
Team 1153 played 970 games.
Team 1184 played 863 games.
Team 1159 played 887 games.
Team 1171 played 829 games.
Team 1216 played 930 games.
Team 1173 played 960 games.
Team 1134 played 200 games.
Team 1177 played 942 games.
Team 1296 played 879 games.
Team 1193 played 942 games.
Team 1265 played 934 games.
Team 1196 played 981 games.
Team 1416 played 881 games.
Team 1206 played 938 games.
Team 1137 played 912 games.
Team 1210 played 972 games.
Team 1149 played 824 games.
Team 1211 played 921 games.
Team 1102 played 840 games.
Team 1234 played 968 games.
Team 1114 played 910 games.
Team 1332 played 927 games.
Team 1243 played 927 games.
Team 1317 played 883 games.
Team 1257 played 994 games.
Team 1231 played 969 games.
Team 1277 played 966 games.
Team 1145 played 934 games.
Team 1278 played 948 games.
Team 1453 played 912 games.
Team 1286 played 851 games.
Team 1186 played 849 games.
Team 1301 played 979 games.
Team 1144 played 850 games.
Team 1325 played 942 games.
Team 1384 played 887 games.
Team 1326 played 968 games.
Team 1248 played 896 games.
Team 1287 played 857 games.
Team 1339 played 879 games.
Team 1334 played 899 games.
Team 1365 played 907 games.
Team 1375 played 896 games.
Team 1126 played 906 games.
Team 1403 played 939 games.
Team 1152 played 865 games.
Team 1423 played 931 games.
Team 1347 played 858 games.
Team 1429 played 930 games.
Team 1428 played 931 games.
Team 1437 played 983 games.
Team 1436 played 911 games.
Team 1172 played 879 games.
Team 1439 played 946 games.
Team 1330 played 963 games.
Team 1443 played 942 games.
Team 1121 played 175 games.
Team 1455 played 947 games.
Team 1249 played 873 games.
Team 1241 played 942 games.
Team 1440 played 825 games.
Team 1314 played 1010 games.
Team 1200 played 922 games.
Team 1323 played 950 games.
Team 1264 played 928 games.
Team 1458 played 951 games.
Team 1104 played 975 games.
Team 1160 played 928 games.
Team 1414 played 922 games.
Team 1181 played 1013 games.
Team 1387 played 956 games.
Team 1183 played 871 games.
Team 1247 played 943 games.
Team 1284 played 932 games.
Team 1402 played 847 games.
Team 1276 played 959 games.
Team 1178 played 920 games.
Team 1364 played 890 games.
Team 1338 played 962 games.
Team 1290 played 875 games.
Team 1376 played 945 games.
Team 1378 played 936 games.
Team 1202 played 856 games.
Team 1396 played 979 games.
Team 1180 played 930 games.
Team 1398 played 870 games.
Team 1399 played 860 games.
Team 1155 played 950 games.
Team 1258 played 898 games.
Team 1448 played 947 games.
Team 1464 played 856 games.
Team 1124 played 906 games.
Team 1341 played 857 games.
Team 1130 played 951 games.
Team 1254 played 898 games.
Team 1204 played 862 games.
Team 1151 played 899 games.
Team 1233 played 957 games.
Team 1220 played 933 games.
Team 1246 played 999 games.
Team 1405 played 921 games.
Team 1280 played 946 games.
Team 1238 played 920 games.
Team 1308 played 935 games.
Team 1431 played 937 games.
Team 1253 played 915 games.
Team 1363 played 889 games.
Team 1348 played 938 games.
Team 1373 played 950 games.
Team 1379 played 896 games.
Team 1270 played 861 games.
Team 1409 played 966 games.
Team 1331 played 809 games.
Team 1444 played 916 games.
Team 1434 played 902 games.
Team 1451 played 866 games.
Team 1139 played 923 games.
Team 1442 played 840 games.
Team 1154 played 820 games.
Team 1456 played 891 games.
Team 1229 played 951 games.
Team 1227 played 917 games.
Team 1259 played 913 games.
Team 1406 played 926 games.
Team 1261 played 956 games.
Team 1272 played 992 games.
Team 1117 played 891 games.
Team 1273 played 896 games.
Team 1163 played 977 games.
Team 1318 played 942 games.
Team 1360 played 889 games.
Team 1393 played 993 games.
Team 1419 played 894 games.
Team 1418 played 912 games.
Team 1281 played 977 games.
Team 1161 played 905 games.
Team 1109 played 169 games.
Team 1309 played 840 games.
Team 1298 played 894 games.
Team 1321 played 912 games.
Team 1285 played 865 games.
Team 1271 played 887 games.
Team 1353 played 939 games.
Team 1351 played 929 games.
Team 1359 played 874 games.
Team 1267 played 909 games.
Team 1361 played 915 games.
Team 1386 played 958 games.
Team 1400 played 982 games.
Team 1322 played 854 games.
Team 1433 played 975 games.
Team 1187 played 861 games.
Team 1245 played 927 games.
Team 1111 played 876 games.
Team 1150 played 942 games.
Team 1119 played 868 games.
Team 1141 played 872 games.
Team 1221 played 929 games.
Team 1122 played 903 games.
Team 1185 played 900 games.
Team 1199 played 949 games.
Team 1201 played 947 games.
Team 1212 played 837 games.
Team 1197 played 896 games.
Team 1140 played 965 games.
Team 1292 played 888 games.
Team 1162 played 831 games.
Team 1319 played 843 games.
Team 1239 played 891 games.
Team 1320 played 913 games.
Team 1371 played 946 games.
Team 1349 played 888 games.
Team 1222 played 930 games.
Team 1382 played 914 games.
Team 1383 played 898 games.
Team 1385 played 954 games.
Team 1390 played 932 games.
Team 1425 played 944 games.
Team 1435 played 961 games.
Team 1463 played 838 games.
Team 1441 played 854 games.
Team 1449 played 938 games.
Team 1123 played 906 games.
Team 1103 played 910 games.
Team 1129 played 907 games.
Team 1209 played 891 games.
Team 1156 played 900 games.
Team 1336 played 926 games.
Team 1174 played 913 games.
Team 1343 played 832 games.
Team 1232 played 913 games.
Team 1203 played 933 games.
Team 1110 played 910 games.
Team 1335 played 880 games.
Team 1283 played 952 games.
Team 1235 played 950 games.
Team 1166 played 957 games.
Team 1311 played 839 games.
Team 1256 played 925 games.
Team 1147 played 698 games.
Team 1250 played 898 games.
Team 1266 played 951 games.
Team 1452 played 945 games.
Team 1269 played 946 games.
Team 1208 played 954 games.
Team 1310 played 949 games.
Team 1329 played 941 games.
Team 1333 played 911 games.
Team 1345 played 966 games.
Team 1263 played 898 games.
Team 1352 played 925 games.
Team 1380 played 862 games.
Team 1446 played 48 games.
Team 1427 played 858 games.
Team 1113 played 937 games.
Team 1408 played 808 games.
Team 1410 played 831 games.
Team 1350 played 959 games.
Team 1450 played 913 games.
Team 1462 played 954 games.
Team 1131 played 945 games.
Team 1190 played 891 games.
Team 1168 played 891 games.
Team 1179 played 914 games.
Team 1304 played 953 games.
Team 1224 played 907 games.
Team 1356 played 953 games.
Team 1426 played 859 games.
Team 1215 played 147 games.
Team 1132 played 895 games.
Team 1217 played 828 games.
Team 1389 played 928 games.
Team 1395 played 943 games.
Team 1461 played 914 games.
Team 1279 played 927 games.
Team 1275 played 932 games.
Team 1293 played 886 games.
Team 1191 played 928 games.
Team 1299 played 870 games.
Team 1401 played 940 games.
Team 1175 played 890 games.
Team 1327 played 22 games.
Team 1207 played 923 games.
Team 1108 played 866 games.
Team 1182 played 924 games.
Team 1274 played 915 games.
Team 1362 played 867 games.
Team 1164 played 893 games.
Team 1118 played 27 games.
Team 1420 played 845 games.
Team 1457 played 801 games.
Team 1148 played 844 games.
Team 1372 played 795 games.
Team 1157 played 784 games.
Team 1421 played 799 games.
Team 1358 played 806 games.
Team 1460 played 827 games.
Team 1198 played 812 games.
Team 1291 played 815 games.
Team 1381 played 735 games.
Team 1251 played 755 games.
Team 1282 played 745 games.
Team 1169 played 724 games.
Team 1302 played 200 games.
Team 1454 played 737 games.
Team 1170 played 660 games.
Team 1138 played 728 games.
Team 1158 played 720 games.
Team 1422 played 719 games.
Team 1369 played 682 games.
Team 1404 played 643 games.
Team 1194 played 647 games.
Team 1407 played 639 games.
Team 1142 played 597 games.
Team 1214 played 627 games.
Team 1459 played 575 games.
Team 1240 played 568 games.
Team 1313 played 563 games.
Team 1115 played 520 games.
Team 1176 played 526 games.
Team 1346 played 522 games.
Team 1237 played 519 games.
Team 1340 played 497 games.
Team 1107 played 512 games.
Team 1357 played 500 games.
Team 1324 played 506 games.
Team 1189 played 481 games.
Team 1125 played 506 games.
Team 1105 played 447 games.
Team 1392 played 493 games.
Team 1219 played 466 games.
Team 1127 played 442 games.
Team 1289 played 48 games.
Team 1415 played 418 games.
Team 1236 played 400 games.
Team 1394 played 390 games.
Team 1205 played 405 games.
Team 1128 played 106 games.
Team 1252 played 401 games.
Team 1366 played 384 games.
Team 1294 played 336 games.
Team 1255 played 344 games.
Team 1430 played 325 games.
Team 1413 played 348 games.
Team 1355 played 327 games.
Team 1244 played 322 games.
Team 1295 played 308 games.
Team 1316 played 327 games.
Team 1445 played 107 games.
Team 1312 played 276 games.
Team 1146 played 267 games.
Team 1167 played 260 games.
Team 1300 played 252 games.
Team 1367 played 267 games.
Team 1342 played 260 games.
Team 1195 played 273 games.
Team 1188 played 207 games.
Team 1377 played 210 games.
Team 1315 played 217 games.
Team 1136 played 240 games.
Team 1370 played 222 games.
Team 1303 played 129 games.
Team 1297 played 113 games.
Team 1213 played 84 games.
Team 1262 played 83 games.
Team 1101 played 76 games.
Team 1230 played 64 games.

In [53]:
## Q: 
## For each season, find the game with the highest score difference 
## (winning score - losing score). This will require iterating over the rows of the DataFrame, 
## keeping track of the highest score difference for each season, and updating it if a game with a higher score difference is found.

season_max_diff = {}

# Iterate over the rows of the DataFrame
for index, row in df.iterrows():
    # Get the season, winning score, losing score, and score difference
    season = row['Season']
    winning_score = row['Wscore']
    losing_score = row['Lscore']
    score_diff = winning_score - losing_score
    
    # Update the maximum score difference for the season
    if season in season_max_diff:
        if score_diff > season_max_diff[season]['ScoreDiff']:
            season_max_diff[season] = {'ScoreDiff': score_diff, 'Game': (winning_score, losing_score)}
    else:
        season_max_diff[season] = {'ScoreDiff': score_diff, 'Game': (winning_score, losing_score)}

# Print the game with the highest score difference for each season
for season, data in season_max_diff.items():
    game = data['Game']
    score_diff = data['ScoreDiff']
    print(f"In season {season}, the game with the highest score difference was {game} with a difference of {score_diff}.")

In season 1985, the game with the highest score difference was (128, 68) with a difference of 60.
In season 1986, the game with the highest score difference was (129, 45) with a difference of 84.
In season 1987, the game with the highest score difference was (112, 39) with a difference of 73.
In season 1988, the game with the highest score difference was (152, 84) with a difference of 68.
In season 1989, the game with the highest score difference was (115, 45) with a difference of 70.
In season 1990, the game with the highest score difference was (130, 54) with a difference of 76.
In season 1991, the game with the highest score difference was (115, 47) with a difference of 68.
In season 1992, the game with the highest score difference was (128, 46) with a difference of 82.
In season 1993, the game with the highest score difference was (146, 65) with a difference of 81.
In season 1994, the game with the highest score difference was (121, 52) with a difference of 69.
In season 1995, the game with the highest score difference was (124, 50) with a difference of 74.
In season 1996, the game with the highest score difference was (141, 50) with a difference of 91.
In season 1997, the game with the highest score difference was (114, 34) with a difference of 80.
In season 1998, the game with the highest score difference was (153, 87) with a difference of 66.
In season 1999, the game with the highest score difference was (132, 57) with a difference of 75.
In season 2000, the game with the highest score difference was (112, 37) with a difference of 75.
In season 2001, the game with the highest score difference was (125, 50) with a difference of 75.
In season 2002, the game with the highest score difference was (109, 50) with a difference of 59.
In season 2003, the game with the highest score difference was (107, 35) with a difference of 72.
In season 2004, the game with the highest score difference was (94, 24) with a difference of 70.
In season 2005, the game with the highest score difference was (119, 55) with a difference of 64.
In season 2006, the game with the highest score difference was (110, 38) with a difference of 72.
In season 2007, the game with the highest score difference was (101, 27) with a difference of 74.
In season 2008, the game with the highest score difference was (129, 59) with a difference of 70.
In season 2009, the game with the highest score difference was (116, 48) with a difference of 68.
In season 2010, the game with the highest score difference was (124, 49) with a difference of 75.
In season 2011, the game with the highest score difference was (121, 52) with a difference of 69.
In season 2012, the game with the highest score difference was (96, 34) with a difference of 62.
In season 2013, the game with the highest score difference was (98, 40) with a difference of 58.
In season 2014, the game with the highest score difference was (126, 52) with a difference of 74.
In season 2015, the game with the highest score difference was (113, 44) with a difference of 69.
In season 2016, the game with the highest score difference was (144, 71) with a difference of 73.

In [54]:
## Q: Vectorized Operation: Calculate the total number of games played by each team, whether they won or lost. 
## Instead of iterating over the DataFrame, use the value_counts() function on the winning team and losing team columns separately, and then add the two Series together.

import pandas as pd

# Assuming your DataFrame is named 'df'
winning_teams = df['Wteam'].value_counts()
losing_teams = df['Lteam'].value_counts()

# Calculate the total number of games played by each team
total_games = winning_teams.add(losing_teams, fill_value=0)

# Print the total number of games played by each team
print(total_games)

1101     76
1102    840
1103    910
1104    975
1105    447
       ...
1460    827
1461    914
1462    954
1463    838
1464    856
Length: 364, dtype: int64

In [55]:
## Q: For each season, find the game with the highest score difference (winning score - losing score). 
## Instead of iterating over the DataFrame, create a new column 'ScoreDifference' using vectorized subtraction, 
## then use the groupby() function and idxmax() function to find the game with the highest score difference for each season.

import pandas as pd

# Assuming your DataFrame is named 'df'
df['ScoreDifference'] = df['Wscore'] - df['Lscore']

# Group the DataFrame by season and find the game with the highest score difference
game_with_max_diff = df.groupby('Season')['ScoreDifference'].idxmax()
max_diff_games = df.loc[game_with_max_diff]

# Print the game with the highest score difference for each season
for index, row in max_diff_games.iterrows():
    season = row['Season']
    game = (row['Wscore'], row['Lscore'])
    score_diff = row['ScoreDifference']
    print(f"In season {season}, the game with the highest score difference was {game} with a difference of {score_diff}.")

In season 1985, the game with the highest score difference was (128, 68) with a difference of 60.
In season 1986, the game with the highest score difference was (129, 45) with a difference of 84.
In season 1987, the game with the highest score difference was (112, 39) with a difference of 73.
In season 1988, the game with the highest score difference was (152, 84) with a difference of 68.
In season 1989, the game with the highest score difference was (115, 45) with a difference of 70.
In season 1990, the game with the highest score difference was (130, 54) with a difference of 76.
In season 1991, the game with the highest score difference was (115, 47) with a difference of 68.
In season 1992, the game with the highest score difference was (128, 46) with a difference of 82.
In season 1993, the game with the highest score difference was (146, 65) with a difference of 81.
In season 1994, the game with the highest score difference was (121, 52) with a difference of 69.
In season 1995, the game with the highest score difference was (124, 50) with a difference of 74.
In season 1996, the game with the highest score difference was (141, 50) with a difference of 91.
In season 1997, the game with the highest score difference was (114, 34) with a difference of 80.
In season 1998, the game with the highest score difference was (153, 87) with a difference of 66.
In season 1999, the game with the highest score difference was (132, 57) with a difference of 75.
In season 2000, the game with the highest score difference was (112, 37) with a difference of 75.
In season 2001, the game with the highest score difference was (125, 50) with a difference of 75.
In season 2002, the game with the highest score difference was (109, 50) with a difference of 59.
In season 2003, the game with the highest score difference was (107, 35) with a difference of 72.
In season 2004, the game with the highest score difference was (94, 24) with a difference of 70.
In season 2005, the game with the highest score difference was (119, 55) with a difference of 64.
In season 2006, the game with the highest score difference was (110, 38) with a difference of 72.
In season 2007, the game with the highest score difference was (101, 27) with a difference of 74.
In season 2008, the game with the highest score difference was (129, 59) with a difference of 70.
In season 2009, the game with the highest score difference was (116, 48) with a difference of 68.
In season 2010, the game with the highest score difference was (124, 49) with a difference of 75.
In season 2011, the game with the highest score difference was (121, 52) with a difference of 69.
In season 2012, the game with the highest score difference was (96, 34) with a difference of 62.
In season 2013, the game with the highest score difference was (98, 40) with a difference of 58.
In season 2014, the game with the highest score difference was (126, 52) with a difference of 74.
In season 2015, the game with the highest score difference was (113, 44) with a difference of 69.
In season 2016, the game with the highest score difference was (144, 71) with a difference of 73.